# Indexado y manejo de archivos csv, como crearlos y conectarse a Google Drive

1. Como conectar el ambiente de trabajo con la carpeta personal en Google Drive
2. Generar archivos en formato .csv
3. Guardar los archivo generados en la carpeta de Google Drive
4. Leer archivo .csv

## I. Como conectar el ambiente de trabajo con la carpeta personal en Google Drive

1. Abrir notebook
2. Importar la libreria "drive"
3. Ejecutar el comando drive.mount()
4. Ingresar credenciales de acceso
5. Ir a la cuenta de Drive 
6. Cambiar el directorio y posicionarse en la carpeta de Colab Notebooks
7. Listar el contenido de la carpeta

In [6]:
# librerias
import pandas as pd
import numpy as np

In [1]:
# 2.libreria de google
from google.colab import drive

In [2]:
# 3-4.ejecutar el comando  . . para . . 
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# 6.Cambiar el directorio y posicionarse en la carpeta de Colab Notebooks
%cd '/content/drive/My Drive/Colab Notebooks'

/content/drive/My Drive/Colab Notebooks

In [4]:
# 7.listar el contenido de la carpeta
%ls

cadena_caracteres.ipynb        Operadores
Conversión_de_datos.ipynb      Platzi-courses/
db/                            Platzi_courses_data/
for.ipynb                      Python_print_variables.ipynb
introduccion_colab_live.ipynb  TestProject/
lava.jpg                       while.ipynb
Listas.ipynb

De esta forma, comprobamos que estamos ubicados en la carpeta de Colab Notebooks de Drive y se da por terminado el proceso de conexión al Google Drive

## II Explorar el archivo Meterorite_Landings.csv

### II.1 Comandos para explorar el archivo

1. read_csv( ) 
2. head( )
3. tail( )
4. sample

In [ ]:
# 1. usar la función read_csv
pd.read_csv('/content/drive/My Drive/Colab Notebooks/Platzi_courses_data/db/Meteorite_Landings.csv')
# asignarle una variable al codigo anterior
df_meteorite = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Platzi_courses_data/db/Meteorite_Landings.csv')
df_meteorite

In [9]:
# 2. si es muy grande el archivo, se puede usar el comando .head(), para que muestre los primeros 5 registros
df_meteorite.head()

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.18333, 10.23333)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.21667, -113.0)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.16667, -64.95)"

In [10]:
# 2.1 o si se quieren ver los primeros 10, solo modificar el comando con argumentos
df_meteorite.head(10)

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
0,Aachen,1,Valid,L5,21.0,Fell,1880.0,50.77500,6.08333,"(50.775, 6.08333)"
1,Aarhus,2,Valid,H6,720.0,Fell,1951.0,56.18333,10.23333,"(56.18333, 10.23333)"
2,Abee,6,Valid,EH4,107000.0,Fell,1952.0,54.21667,-113.00000,"(54.21667, -113.0)"
3,Acapulco,10,Valid,Acapulcoite,1914.0,Fell,1976.0,16.88333,-99.90000,"(16.88333, -99.9)"
4,Achiras,370,Valid,L6,780.0,Fell,1902.0,-33.16667,-64.95000,"(-33.16667, -64.95)"
5,Adhi Kot,379,Valid,EH4,4239.0,Fell,1919.0,32.10000,71.80000,"(32.1, 71.8)"
6,Adzhi-Bogdo (stone),390,Valid,LL3-6,910.0,Fell,1949.0,44.83333,95.16667,"(44.83333, 95.16667)"
7,Agen,392,Valid,H5,30000.0,Fell,1814.0,44.21667,0.61667,"(44.21667, 0.61667)"
8,Aguada,398,Valid,L6,1620.0,Fell,1930.0,-31.60000,-65.23333,"(-31.6, -65.23333)"
9,Aguila Blanca,417,Valid,L,1440.0,Fell,1920.0,-30.86667,-64.55000,"(-30.86667, -64.55)"

In [11]:
# 3. si se requieren ver los ultimos registros, se usa el comando .tail()
df_meteorite.tail()

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
45711,Zillah 002,31356,Valid,Eucrite,172.0,Found,1990.0,29.03700,17.01850,"(29.037, 17.0185)"
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.0,Found,1999.0,13.78333,8.96667,"(13.78333, 8.96667)"
45713,Zlin,30410,Valid,H4,3.3,Found,1939.0,49.25000,17.66667,"(49.25, 17.66667)"
45714,Zubkovsky,31357,Valid,L6,2167.0,Found,2003.0,49.78917,41.50460,"(49.78917, 41.5046)"
45715,Zulu Queen,30414,Valid,L3.7,200.0,Found,1976.0,33.98333,-115.68333,"(33.98333, -115.68333)"

In [12]:
# 3.1 de igual forma como head, en tail se pueden agregar argumentos
df_meteorite.tail(12)

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
45704,Zerga,30402,Valid,LL6,76.0,Found,1973.0,20.25000,-12.68333,"(20.25, -12.68333)"
45705,Zerhamra,30403,Valid,"Iron, IIIAB-an",630000.0,Found,1967.0,29.85861,-2.64500,"(29.85861, -2.645)"
45706,Zerkaly,31354,Valid,H5,16000.0,Found,1956.0,52.13333,81.96667,"(52.13333, 81.96667)"
45707,Zhaoping,54609,Valid,"Iron, IAB complex",2000000.0,Found,1983.0,24.23333,111.18333,"(24.23333, 111.18333)"
45708,Zhigansk,30405,Valid,"Iron, IIIAB",900000.0,Found,1966.0,68.00000,128.30000,"(68.0, 128.3)"
45709,Zhongxiang,30406,Valid,Iron,100000.0,Found,1981.0,31.20000,112.50000,"(31.2, 112.5)"
45710,Zillah 001,31355,Valid,L6,1475.0,Found,1990.0,29.03700,17.01850,"(29.037, 17.0185)"
45711,Zillah 002,31356,Valid,Eucrite,172.0,Found,1990.0,29.03700,17.01850,"(29.037, 17.0185)"
45712,Zinder,30409,Valid,"Pallasite, ungrouped",46.0,Found,1999.0,13.78333,8.96667,"(13.78333, 8.96667)"
45713,Zlin,30410,Valid,H4,3.3,Found,1939.0,49.25000,17.66667,"(49.25, 17.66667)"
45714,Zubkovsky,31357,Valid,L6,2167.0,Found,2003.0,49.78917,41.50460,"(49.78917, 41.5046)"
45715,Zulu Queen,30414,Valid,L3.7,200.0,Found,1976.0,33.98333,-115.68333,"(33.98333, -115.68333)"

In [13]:
# 4. para ver registros aleatorios, se usa el comando .sample()
df_meteorite.sample()

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
15210,Grove Mountains 052136,46473,Valid,H5,2.21,Found,2006.0,-72.775,75.33528,"(-72.775, 75.33528)"

In [14]:
# 4.1 agregando argumentos a sample()
df_meteorite.sample(8)

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
44701,Yamato 982636,39258,Valid,LL5,4.520,Found,1998.0,0.00000,0.00000,"(0.0, 0.0)"
14371,Grove Mountains 022365,49992,Valid,L5,0.560,Found,2003.0,-72.78111,75.30500,"(-72.78111, 75.305)"
40455,Yamato 791232,26581,Valid,H4/5,18.690,Found,1979.0,-71.50000,35.66667,"(-71.5, 35.66667)"
11933,Frontier Mountain 01170,10352,Valid,H4-5,4.900,Found,2001.0,-72.95250,160.52389,"(-72.9525, 160.52389)"
13118,Grosvenor Mountains 03084,34611,Valid,L4,184.700,Found,2003.0,NaN,NaN,NaN
41055,Yamato 791863,27212,Valid,H6,27.150,Found,1979.0,-71.50000,35.66667,"(-71.5, 35.66667)"
16861,Jiddat al Harasis 398,48549,Valid,H4,262.283,Found,2002.0,19.96592,56.42677,"(19.96592, 56.42677)"
35640,Ramlat as Sahmah 228,35660,Valid,L5,417.350,Found,2003.0,20.56022,55.97262,"(20.56022, 55.97262)"

## II.2 Comandos para examinar el tamaño de la base de datos.

1. shape
2. size
3. describe( )
5. describe(include='all')
6. info( )

In [16]:
# shape, muestra el numero de registros(filas) y el número de columnas
df_meteorite.shape

(45716, 10)

In [17]:
# size muestra el tamaño total del dataframe, multiplicando las filas por las columnas
df_meteorite.size

457160

In [20]:
# describe muestra datos estadísticos de los datos numéricos del dataframe
df_meteorite.describe()

                 id      mass (g)          year        reclat       reclong
count  45716.000000  4.558500e+04  45425.000000  38401.000000  38401.000000
mean   26889.735104  1.327808e+04   1991.828817    -39.122580     61.074319
std    16860.683030  5.749889e+05     25.052766     46.378511     80.647298
min        1.000000  0.000000e+00    860.000000    -87.366670   -165.433330
25%    12688.750000  7.200000e+00   1987.000000    -76.714240      0.000000
50%    24261.500000  3.260000e+01   1998.000000    -71.500000     35.666670
75%    40656.750000  2.026000e+02   2003.000000      0.000000    157.166670
max    57458.000000  6.000000e+07   2101.000000     81.166670    354.473330

Para comodidad, se puede retirar la notación científica con la siguiente línea:

* pd.options.display.float_format = '{:.1f}'.format

In [21]:
# para comodidad, se puede retirar la notación científica con el comando 
pd.options.display.float_format = '{:.1f}'.format

In [22]:
# comprobar
df_meteorite.describe()

           id   mass (g)    year  reclat  reclong
count 45716.0    45585.0 45425.0 38401.0  38401.0
mean  26889.7    13278.1  1991.8   -39.1     61.1
std   16860.7   574988.9    25.1    46.4     80.6
min       1.0        0.0   860.0   -87.4   -165.4
25%   12688.8        7.2  1987.0   -76.7      0.0
50%   24261.5       32.6  1998.0   -71.5     35.7
75%   40656.8      202.6  2003.0     0.0    157.2
max   57458.0 60000000.0  2101.0    81.2    354.5

In [23]:
# tambien se pueden agregar coma "," a los numeros para hacer mas comodo su lectura
pd.options.display.float_format = '{:,.1f}'.format

In [24]:
# comprobar
df_meteorite.describe()

            id     mass (g)     year   reclat  reclong
count 45,716.0     45,585.0 45,425.0 38,401.0 38,401.0
mean  26,889.7     13,278.1  1,991.8    -39.1     61.1
std   16,860.7    574,988.9     25.1     46.4     80.6
min        1.0          0.0    860.0    -87.4   -165.4
25%   12,688.8          7.2  1,987.0    -76.7      0.0
50%   24,261.5         32.6  1,998.0    -71.5     35.7
75%   40,656.8        202.6  2,003.0      0.0    157.2
max   57,458.0 60,000,000.0  2,101.0     81.2    354.5

Usar el comando describe para ????

In [25]:
# con este comando se puede obtener información de los datos de texto
df_meteorite.describe(include='all')

,name,id,nametype,recclass,mass (g),fall,year,reclat,reclong,GeoLocation
count,45716,"45,716.0",45716,45716,"45,585.0",45716,"45,425.0","38,401.0","38,401.0",38401
unique,45716,NaN,2,466,NaN,2,NaN,NaN,NaN,17100
top,Aachen,NaN,Valid,L6,NaN,Found,NaN,NaN,NaN,"(0.0, 0.0)"
freq,1,NaN,45641,8285,NaN,44609,NaN,NaN,NaN,6214
mean,NaN,"26,889.7",NaN,NaN,"13,278.1",NaN,"1,991.8",-39.1,61.1,NaN
std,NaN,"16,860.7",NaN,NaN,"574,988.9",NaN,25.1,46.4,80.6,NaN
min,NaN,1.0,NaN,NaN,0.0,NaN,860.0,-87.4,-165.4,NaN
25%,NaN,"12,688.8",NaN,NaN,7.2,NaN,"1,987.0",-76.7,0.0,NaN
50%,NaN,"24,261.5",NaN,NaN,32.6,NaN,"1,998.0",-71.5,35.7,NaN
75%,NaN,"40,656.8",NaN,NaN,202.6,NaN,"2,003.0",0.0,157.2,NaN
max,NaN,"57,458.0",NaN,NaN,"60,000,000.0",NaN,"2,101.0",81.2,354.5,NaN

In [26]:
# para conocer el tipo de dato que hay en cada columna, se usa el comando info()
df_meteorite.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45716 entries, 0 to 45715
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   name         45716 non-null  object
 1   id           45716 non-null  int64
 2   nametype     45716 non-null  object
 3   recclass     45716 non-null  object
 4   mass (g)     45585 non-null  float64
 5   fall         45716 non-null  object
 6   year         45425 non-null  float64
 7   reclat       38401 non-null  float64
 8   reclong      38401 non-null  float64
 9   GeoLocation  38401 non-null  object
dtypes: float64(4), int64(1), object(5)
memory usage: 3.5+ MB

In [28]:
# para conocer el tipo de dato que hay en cada columna
df_meteorite.dtypes

name            object
id               int64
nametype        object
recclass        object
mass (g)       float64
fall            object
year           float64
reclat         float64
reclong        float64
GeoLocation     object
dtype: object

### Cambiar los tipos de datos *object* por *string*

Esto se logra usando el comando convert_dtypes( ), que es una funcionalidad disponible a partir de Pandas 1.0

In [29]:
# nueva funcionalidad en pandas 1.0, y permite convertir el formato más adecuado para las variables 
df_meteorite.convert_dtypes().dtypes

name            string
id               Int64
nametype        string
recclass        string
mass (g)       Float64
fall            string
year             Int64
reclat         Float64
reclong        Float64
GeoLocation     string
dtype: object

## Referencias

[Tipos de Variables que componen un data frame](https://platzi.com/clases/1794-pandas/27907-tipos-de-variables-que-componen-un-data-frame/)