# Indexado y manejo de archivos csv, como crearlos y conectarse a Google Drive

1. Como conectar el ambiente de trabajo con la carpeta personal en Google Drive
2. Explorar el archivo Meteorite_Landings.csv
3. Referencias

## I. Como conectar el ambiente de trabajo con la carpeta personal en Google Drive

1. Abrir notebook
2. Importar la libreria "drive"
3. Ejecutar el comando drive.mount()
4. Ingresar credenciales de acceso
5. Ir a la cuenta de Drive 
6. Cambiar el directorio y posicionarse en la carpeta de Colab Notebooks
7. Listar el contenido de la carpeta

In [2]:
# librerias
import pandas as pd
import numpy as np

In [27]:
# actualizar pandas
!pip install --upgrade pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [3]:
# 2.libreria de google
from google.colab import drive

In [4]:
# 3-4.ejecutar el comando  . . para . . 
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
# 6.Cambiar el directorio y posicionarse en la carpeta de Colab Notebooks
%cd '/content/drive/My Drive/Colab Notebooks'

/content/drive/My Drive/Colab Notebooks

In [6]:
# 7.listar el contenido de la carpeta
%ls

cadena_caracteres.ipynb        Operadores
Conversión_de_datos.ipynb      Platzi-courses/
db/                            Platzi_courses_data/
for.ipynb                      Python_print_variables.ipynb
introduccion_colab_live.ipynb  TestProject/
lava.jpg                       while.ipynb
Listas.ipynb

De esta forma, comprobamos que estamos ubicados en la carpeta de Colab Notebooks de Drive y se da por terminado el proceso de conexión al Google Drive

## II Explorar el archivo london_merged.csv

### II.1 Comandos para explorar el archivo

1. read_csv( ) 
2. head( )
3. tail( )
4. sample

In [28]:
# 1. usar la función read_csv
pd.read_csv('/content/drive/My Drive/Colab Notebooks/Platzi_courses_data/db/london_merged.csv')
# asignarle una variable al codigo anterior
df_london_bike = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Platzi_courses_data/db/london_merged.csv')
df_london_bike

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [29]:
# 2. si es muy grande el archivo, se puede usar el comando .head(), para que muestre los primeros 5 registros
df_london_bike.head()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0

In [30]:
# 3. si se requieren ver los ultimos registros, se usa el comando .tail()
df_london_bike.tail()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

In [31]:
# 4. para ver registros aleatorios, se usa el comando .sample()
df_london_bike.sample()

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
13039,2016-07-03 19:00:00,2090,19.5,19.5,58.0,15.0,2.0,0.0,1.0,1.0

In [32]:
# 4.1 agregando argumentos a sample()
df_london_bike.sample(8)

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
14064,2016-08-15 16:00:00,2948,22.0,22.0,50.0,24.0,1.0,0.0,0.0,1.0
3393,2015-05-25 17:00:00,2554,16.0,16.0,55.0,11.0,3.0,1.0,0.0,0.0
1285,2015-02-26 15:00:00,680,9.0,6.0,76.0,21.5,3.0,0.0,0.0,3.0
2871,2015-05-03 23:00:00,504,14.0,14.0,77.0,22.0,3.0,0.0,1.0,0.0
9705,2016-02-14 13:00:00,1443,6.5,2.5,59.0,21.0,3.0,0.0,1.0,3.0
2599,2015-04-22 15:00:00,1215,14.0,14.0,63.0,29.0,3.0,0.0,0.0,0.0
6437,2015-09-30 05:00:00,126,11.5,11.5,85.0,12.0,1.0,0.0,0.0,2.0
16755,2016-12-07 13:00:00,1259,14.0,14.0,77.0,16.0,1.0,0.0,0.0,3.0

In [33]:
# ver la forma del dataset
df_london_bike.shape

(17414, 10)

In [34]:
# ver el tipo de dato
df_london_bike.dtypes

timestamp        object
cnt               int64
t1              float64
t2              float64
hum             float64
wind_speed      float64
weather_code    float64
is_holiday      float64
is_weekend      float64
season          float64
dtype: object

## Crear copia del dataset

In [35]:
# crear una copia del dataframe
# definir un nuevo dataframe usando variables
# especificar que la copia es profunda con el argumento deep=True
df_londonb = df_london_bike.copy(deep=True)

In [36]:
# dataset con el que se trabajará
df_londonb

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

## Cambiar el formato de fechas

In [37]:
# almacenar en el dataframe el tipo de fato fecha
df_londonb['timestamp'] = pd.to_datetime(df_londonb['timestamp'])
df_londonb['timestamp']

0       2015-01-04 00:00:00
1       2015-01-04 01:00:00
2       2015-01-04 02:00:00
3       2015-01-04 03:00:00
4       2015-01-04 04:00:00
                ...
17409   2017-01-03 19:00:00
17410   2017-01-03 20:00:00
17411   2017-01-03 21:00:00
17412   2017-01-03 22:00:00
17413   2017-01-03 23:00:00
Name: timestamp, Length: 17414, dtype: datetime64[ns]

**Nota 1**

Cuando el archivo original contiene una columna de fecha y esta tiene un formato relativamente organizado como el visto en *timestamp*, pandas, es capaz de reconocerlo y reliza el cambio son la necesidad de la línea de codigo: *format = '%m/%d/%Y %H:%M:%S %p'*

In [41]:
# ver los cambios en dtypes
df_londonb.dtypes

timestamp       datetime64[ns]
cnt                      int64
t1                     float64
t2                     float64
hum                    float64
wind_speed             float64
weather_code           float64
is_holiday             float64
is_weekend             float64
season                 float64
hour                     int64
dtype: object

In [39]:
df_londonb

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
...,...,...,...,...,...,...,...,...,...,...
17409,2017-01-03 19:00:00,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0
17410,2017-01-03 20:00:00,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0
17411,2017-01-03 21:00:00,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0
17412,2017-01-03 22:00:00,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0
17413,2017-01-03 23:00:00,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0

## Crear columna *hour*

In [40]:
# se aplica cuando la columna ya tiene definido el formato tipo tiempo/fecha
df_londonb['hour'] = df_londonb['timestamp'].dt.hour
df_londonb['hour']

0         0
1         1
2         2
3         3
4         4
         ..
17409    19
17410    20
17411    21
17412    22
17413    23
Name: hour, Length: 17414, dtype: int64

## Quitar la columna *timestamp*

In [42]:
df = df_londonb.iloc[:,1:]

In [44]:
# ver los cambios
df

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season,hour
0,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0,0
1,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0,1
2,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0,2
3,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0,3
4,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0,4
...,...,...,...,...,...,...,...,...,...,...
17409,1042,5.0,1.0,81.0,19.0,3.0,0.0,0.0,3.0,19
17410,541,5.0,1.0,81.0,21.0,4.0,0.0,0.0,3.0,20
17411,337,5.5,1.5,78.5,24.0,4.0,0.0,0.0,3.0,21
17412,224,5.5,1.5,76.0,23.0,4.0,0.0,0.0,3.0,22
17413,139,5.0,1.0,76.0,22.0,2.0,0.0,0.0,3.0,23

## Operaciones Matemáticas

In [48]:
# Elevar al cuadrado todo el dataset
df ** 2

,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season,hour
0,33124,9.00,4.00,8649.00,36.00,9.0,0.0,1.0,9.0,0
1,19044,9.00,6.25,8649.00,25.00,1.0,0.0,1.0,9.0,1
2,17956,6.25,6.25,9312.25,0.00,1.0,0.0,1.0,9.0,4
3,5184,4.00,4.00,10000.00,0.00,1.0,0.0,1.0,9.0,9
4,2209,4.00,0.00,8649.00,42.25,1.0,0.0,1.0,9.0,16
...,...,...,...,...,...,...,...,...,...,...
17409,1085764,25.00,1.00,6561.00,361.00,9.0,0.0,0.0,9.0,361
17410,292681,25.00,1.00,6561.00,441.00,16.0,0.0,0.0,9.0,400
17411,113569,30.25,2.25,6162.25,576.00,16.0,0.0,0.0,9.0,441
17412,50176,30.25,2.25,5776.00,529.00,16.0,0.0,0.0,9.0,484
17413,19321,25.00,1.00,5776.00,484.00,4.0,0.0,0.0,9.0,529

In [47]:
# Elevar al cuadrado los valores de la columna wind_speed
df['wind_speed'] ** 2

0         36.00
1         25.00
2          0.00
3          0.00
4         42.25
          ...
17409    361.00
17410    441.00
17411    576.00
17412    529.00
17413    484.00
Name: wind_speed, Length: 17414, dtype: float64

In [49]:
# calcular . . . con la función seno
np.sin(df['wind_speed'])

0       -0.279415
1       -0.958924
2        0.000000
3        0.000000
4        0.215120
           ...
17409    0.149877
17410    0.836656
17411   -0.905578
17412   -0.846220
17413   -0.008851
Name: wind_speed, Length: 17414, dtype: float64

### Operaciones entre columnas

In [51]:
# calcular la temperatura real y la sensación térmica
# tr = t1-t2
tr = df['t1'] - df['t2']
tr

0        1.0
1        0.5
2        0.0
3        0.0
4        2.0
        ...
17409    4.0
17410    4.0
17411    4.0
17412    4.0
17413    4.0
Length: 17414, dtype: float64

In [52]:
# operaciones entre columnas usando filtros, con el comando iloc()
# calcular la temperatura real únicamente de los indices par
# 1. extraer las filas de los indices par
df['t1'].iloc[::2]

0        3.0
2        2.5
4        2.0
6        1.0
8        1.5
        ...
17404    6.0
17406    6.0
17408    5.0
17410    5.0
17412    5.5
Name: t1, Length: 8707, dtype: float64

In [53]:
# 2. realizar resta
df['t1'].iloc[::2] - df['t2']

0        1.0
1        NaN
2        0.0
3        NaN
4        2.0
        ...
17409    NaN
17410    4.0
17411    NaN
17412    4.0
17413    NaN
Length: 17414, dtype: float64

Aqui se observa que las filas impares, retornan el valor NaN

En este caso particular no aplica, pero cuando se requiera sustituir los valores NaN, se hace lo siguiente:

df['t1'].iloc[::2].sub(df['t2'], fill_value = 1000)

El 1000, es el valor que se le asignará a las celdas con el valor NaN

In [56]:
# 2. realizar resta
tr_2 = df['t1'].iloc[::2] - df['t2'].iloc[::2]
tr_2

0        1.0
2        0.0
4        2.0
6        2.0
8        2.5
        ...
17404    4.0
17406    4.0
17408    4.0
17410    4.0
17412    4.0
Length: 8707, dtype: float64

In [57]:
# división
df['t1'] / df['t2']

0        1.500000
1        1.200000
2        1.000000
3        1.000000
4             inf
           ...
17409    5.000000
17410    5.000000
17411    3.666667
17412    3.666667
17413    5.000000
Length: 17414, dtype: float64

In [58]:
#algebra lineal, producto punto de una misma columna con el comando dot
df['t1'].dot(df['t1'])
# se multiplican entre si cada valor de cada celda y se suman todas ls celdas.

3247652.777777778

## Referencias

[London bike sharing dataset](https://www.kaggle.com/hmavrodiev/london-bike-sharing-dataset)

[Funciones Matemáticas](https://platzi.com/clases/1794-pandas/27904-funciones-matematicas/)