# Indexado y manejo de archivos csv, como crearlos y conectarse a Google Drive

1. Como conectar el ambiente de trabajo con la carpeta personal en Google Drive
2. Explorar el archivo Meteorite_Landings.csv
3. Referencias

## I. Como conectar el ambiente de trabajo con la carpeta personal en Google Drive

1. Abrir notebook
2. Importar la libreria "drive"
3. Ejecutar el comando drive.mount()
4. Ingresar credenciales de acceso
5. Ir a la cuenta de Drive 
6. Cambiar el directorio y posicionarse en la carpeta de Colab Notebooks
7. Listar el contenido de la carpeta

## I. Importar Librerias y conectar con Google Drive

In [80]:
# librerias
import pandas as pd
import numpy as np

In [81]:
# actualizar pandas
!pip install --upgrade pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [82]:
# 2.libreria de google
from google.colab import drive

In [83]:
# 3-4.ejecutar el comando  . . para . . 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [84]:
# 6.Cambiar el directorio y posicionarse en la carpeta de Colab Notebooks
%cd '/content/drive/My Drive/Colab Notebooks/Platzi_courses_data/db/Population/'

/content/drive/My Drive/Colab Notebooks/Platzi_courses_data/db/Population

In [85]:
# 7.listar el contenido de la carpeta
%ls

API_SP.POP.TOTL_DS2_en_csv_v2_3731322.csv
Metadata_Country_API_SP.POP.TOTL_DS2_en_csv_v2_3731322.csv
Metadata_Indicator_API_SP.POP.TOTL_DS2_en_csv_v2_3731322.csv

De esta forma, comprobamos que estamos ubicados en la carpeta de Colab Notebooks de Drive y se da por terminado el proceso de conexión al Google Drive

## II Explorar el archivo Population

### II.1 Comandos para explorar el archivo

1. read_csv( ) 
2. skiprows=
3. head( )
4. tail( )
5. sample

In [86]:
# 1. usar la función read_csv, el comando skiprows, sirve para brincar rows
# En este caso se uso para que brincara los primero 4 rows ya que no tienen datos
pd.read_csv('API_SP.POP.TOTL_DS2_en_csv_v2_3731322.csv',skiprows=4)
# asignarle una variable al codigo anterior
df_population = pd.read_csv('API_SP.POP.TOTL_DS2_en_csv_v2_3731322.csv',skiprows=4)
df_population

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,"Population, total",SP.POP.TOTL,"54,208.0","55,434.0","56,234.0","56,699.0","57,029.0","57,357.0",...,"102,565.0","103,165.0","103,776.0","104,339.0","104,865.0","105,361.0","105,846.0","106,310.0","106,766.0",NaN
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,"130,836,765.0","134,159,786.0","137,614,644.0","141,202,036.0","144,920,186.0","148,769,974.0",...,"547,482,863.0","562,601,578.0","578,075,373.0","593,871,847.0","609,978,946.0","626,392,880.0","643,090,131.0","660,046,272.0","677,243,299.0",NaN
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,"8,996,967.0","9,169,406.0","9,351,442.0","9,543,200.0","9,744,772.0","9,956,318.0",...,"31,161,378.0","32,269,592.0","33,370,804.0","34,413,603.0","35,383,028.0","36,296,111.0","37,171,922.0","38,041,757.0","38,928,341.0",NaN
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,"96,396,419.0","98,407,221.0","100,506,960.0","102,691,339.0","104,953,470.0","107,289,875.0",...,"370,243,017.0","380,437,896.0","390,882,979.0","401,586,651.0","412,551,299.0","423,769,930.0","435,229,381.0","446,911,598.0","458,803,476.0",NaN
4,Angola,AGO,"Population, total",SP.POP.TOTL,"5,454,938.0","5,531,451.0","5,608,499.0","5,679,409.0","5,734,995.0","5,770,573.0",...,"25,107,925.0","26,015,786.0","26,941,773.0","27,884,380.0","28,842,482.0","29,816,769.0","30,809,787.0","31,825,299.0","32,866,268.0",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,Kosovo,XKX,"Population, total",SP.POP.TOTL,"947,000.0","966,000.0","994,000.0","1,022,000.0","1,050,000.0","1,078,000.0",...,"1,807,106.0","1,818,117.0","1,812,771.0","1,788,196.0","1,777,557.0","1,791,003.0","1,797,085.0","1,788,878.0","1,775,378.0",NaN
262,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,"5,315,351.0","5,393,034.0","5,473,671.0","5,556,767.0","5,641,598.0","5,727,745.0",...,"24,473,176.0","25,147,112.0","25,823,488.0","26,497,881.0","27,168,210.0","27,834,811.0","28,498,683.0","29,161,922.0","29,825,968.0",NaN
263,South Africa,ZAF,"Population, total",SP.POP.TOTL,"17,099,836.0","17,524,533.0","17,965,733.0","18,423,157.0","18,896,303.0","19,384,838.0",...,"52,832,659.0","53,687,125.0","54,544,184.0","55,386,369.0","56,207,649.0","57,009,751.0","57,792,520.0","58,558,267.0","59,308,690.0",NaN
264,Zambia,ZMB,"Population, total",SP.POP.TOTL,"3,070,780.0","3,164,330.0","3,260,645.0","3,360,099.0","3,463,211.0","3,570,466.0",...,"14,465,148.0","14,926,551.0","15,399,793.0","15,879,370.0","16,363,449.0","16,853,608.0","17,351,714.0","17,861,034.0","18,383,956.0",NaN
265,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,"3,776,679.0","3,905,038.0","4,039,209.0","4,178,726.0","4,322,854.0","4,471,178.0",...,"13,115,149.0","13,350,378.0","13,586,710.0","13,814,642.0","14,030,338.0","14,236,599.0","14,438,812.0","14,645,473.0","14,862,927.0",NaN

In [87]:
# 2. si es muy grande el archivo, se puede usar el comando .head(), para que muestre los primeros 5 registros
df_population.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,"Population, total",SP.POP.TOTL,"54,208.0","55,434.0","56,234.0","56,699.0","57,029.0","57,357.0",...,"102,565.0","103,165.0","103,776.0","104,339.0","104,865.0","105,361.0","105,846.0","106,310.0","106,766.0",NaN
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,"130,836,765.0","134,159,786.0","137,614,644.0","141,202,036.0","144,920,186.0","148,769,974.0",...,"547,482,863.0","562,601,578.0","578,075,373.0","593,871,847.0","609,978,946.0","626,392,880.0","643,090,131.0","660,046,272.0","677,243,299.0",NaN
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,"8,996,967.0","9,169,406.0","9,351,442.0","9,543,200.0","9,744,772.0","9,956,318.0",...,"31,161,378.0","32,269,592.0","33,370,804.0","34,413,603.0","35,383,028.0","36,296,111.0","37,171,922.0","38,041,757.0","38,928,341.0",NaN
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,"96,396,419.0","98,407,221.0","100,506,960.0","102,691,339.0","104,953,470.0","107,289,875.0",...,"370,243,017.0","380,437,896.0","390,882,979.0","401,586,651.0","412,551,299.0","423,769,930.0","435,229,381.0","446,911,598.0","458,803,476.0",NaN
4,Angola,AGO,"Population, total",SP.POP.TOTL,"5,454,938.0","5,531,451.0","5,608,499.0","5,679,409.0","5,734,995.0","5,770,573.0",...,"25,107,925.0","26,015,786.0","26,941,773.0","27,884,380.0","28,842,482.0","29,816,769.0","30,809,787.0","31,825,299.0","32,866,268.0",NaN

In [88]:
# 3. si se requieren ver los ultimos registros, se usa el comando .tail()
df_population.tail()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
261,Kosovo,XKX,"Population, total",SP.POP.TOTL,"947,000.0","966,000.0","994,000.0","1,022,000.0","1,050,000.0","1,078,000.0",...,"1,807,106.0","1,818,117.0","1,812,771.0","1,788,196.0","1,777,557.0","1,791,003.0","1,797,085.0","1,788,878.0","1,775,378.0",NaN
262,"Yemen, Rep.",YEM,"Population, total",SP.POP.TOTL,"5,315,351.0","5,393,034.0","5,473,671.0","5,556,767.0","5,641,598.0","5,727,745.0",...,"24,473,176.0","25,147,112.0","25,823,488.0","26,497,881.0","27,168,210.0","27,834,811.0","28,498,683.0","29,161,922.0","29,825,968.0",NaN
263,South Africa,ZAF,"Population, total",SP.POP.TOTL,"17,099,836.0","17,524,533.0","17,965,733.0","18,423,157.0","18,896,303.0","19,384,838.0",...,"52,832,659.0","53,687,125.0","54,544,184.0","55,386,369.0","56,207,649.0","57,009,751.0","57,792,520.0","58,558,267.0","59,308,690.0",NaN
264,Zambia,ZMB,"Population, total",SP.POP.TOTL,"3,070,780.0","3,164,330.0","3,260,645.0","3,360,099.0","3,463,211.0","3,570,466.0",...,"14,465,148.0","14,926,551.0","15,399,793.0","15,879,370.0","16,363,449.0","16,853,608.0","17,351,714.0","17,861,034.0","18,383,956.0",NaN
265,Zimbabwe,ZWE,"Population, total",SP.POP.TOTL,"3,776,679.0","3,905,038.0","4,039,209.0","4,178,726.0","4,322,854.0","4,471,178.0",...,"13,115,149.0","13,350,378.0","13,586,710.0","13,814,642.0","14,030,338.0","14,236,599.0","14,438,812.0","14,645,473.0","14,862,927.0",NaN

In [89]:
# 4. para ver registros aleatorios, se usa el comando .sample()
df_population.sample()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
104,IDA total,IDA,"Population, total",SP.POP.TOTL,"379,602,060.0","388,797,693.0","398,361,716.0","408,315,722.0","418,686,533.0","429,483,620.0",...,"1,428,462,154.0","1,460,611,248.0","1,493,491,572.0","1,527,218,864.0","1,561,828,652.0","1,597,273,748.0","1,633,561,540.0","1,670,692,565.0","1,708,603,673.0",NaN

In [90]:
# ver la forma del dataset
df_population.shape

(266, 66)

In [91]:
# ver el tipo de dato
df_population.dtypes

Country Name       object
Country Code       object
Indicator Name     object
Indicator Code     object
1960              float64
                   ...
2017              float64
2018              float64
2019              float64
2020              float64
Unnamed: 65       float64
Length: 66, dtype: object

## Crear copia del dataset

In [92]:
# crear una copia del dataframe
# definir un nuevo dataframe usando variables
# especificar que la copia es profunda con el argumento deep=True
df_pop = df_population.copy(deep=True)

In [93]:
# dataset con el que se trabajará
df_pop.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,"Population, total",SP.POP.TOTL,"54,208.0","55,434.0","56,234.0","56,699.0","57,029.0","57,357.0",...,"102,565.0","103,165.0","103,776.0","104,339.0","104,865.0","105,361.0","105,846.0","106,310.0","106,766.0",NaN
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,"130,836,765.0","134,159,786.0","137,614,644.0","141,202,036.0","144,920,186.0","148,769,974.0",...,"547,482,863.0","562,601,578.0","578,075,373.0","593,871,847.0","609,978,946.0","626,392,880.0","643,090,131.0","660,046,272.0","677,243,299.0",NaN
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,"8,996,967.0","9,169,406.0","9,351,442.0","9,543,200.0","9,744,772.0","9,956,318.0",...,"31,161,378.0","32,269,592.0","33,370,804.0","34,413,603.0","35,383,028.0","36,296,111.0","37,171,922.0","38,041,757.0","38,928,341.0",NaN
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,"96,396,419.0","98,407,221.0","100,506,960.0","102,691,339.0","104,953,470.0","107,289,875.0",...,"370,243,017.0","380,437,896.0","390,882,979.0","401,586,651.0","412,551,299.0","423,769,930.0","435,229,381.0","446,911,598.0","458,803,476.0",NaN
4,Angola,AGO,"Population, total",SP.POP.TOTL,"5,454,938.0","5,531,451.0","5,608,499.0","5,679,409.0","5,734,995.0","5,770,573.0",...,"25,107,925.0","26,015,786.0","26,941,773.0","27,884,380.0","28,842,482.0","29,816,769.0","30,809,787.0","31,825,299.0","32,866,268.0",NaN

## Separar por comas los valores numéricos

In [94]:
# separar por comas los valores numericos
pd.options.display.float_format = '{:,.1f}'.format

In [95]:
df_pop.head()

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,"Population, total",SP.POP.TOTL,"54,208.0","55,434.0","56,234.0","56,699.0","57,029.0","57,357.0",...,"102,565.0","103,165.0","103,776.0","104,339.0","104,865.0","105,361.0","105,846.0","106,310.0","106,766.0",NaN
1,Africa Eastern and Southern,AFE,"Population, total",SP.POP.TOTL,"130,836,765.0","134,159,786.0","137,614,644.0","141,202,036.0","144,920,186.0","148,769,974.0",...,"547,482,863.0","562,601,578.0","578,075,373.0","593,871,847.0","609,978,946.0","626,392,880.0","643,090,131.0","660,046,272.0","677,243,299.0",NaN
2,Afghanistan,AFG,"Population, total",SP.POP.TOTL,"8,996,967.0","9,169,406.0","9,351,442.0","9,543,200.0","9,744,772.0","9,956,318.0",...,"31,161,378.0","32,269,592.0","33,370,804.0","34,413,603.0","35,383,028.0","36,296,111.0","37,171,922.0","38,041,757.0","38,928,341.0",NaN
3,Africa Western and Central,AFW,"Population, total",SP.POP.TOTL,"96,396,419.0","98,407,221.0","100,506,960.0","102,691,339.0","104,953,470.0","107,289,875.0",...,"370,243,017.0","380,437,896.0","390,882,979.0","401,586,651.0","412,551,299.0","423,769,930.0","435,229,381.0","446,911,598.0","458,803,476.0",NaN
4,Angola,AGO,"Population, total",SP.POP.TOTL,"5,454,938.0","5,531,451.0","5,608,499.0","5,679,409.0","5,734,995.0","5,770,573.0",...,"25,107,925.0","26,015,786.0","26,941,773.0","27,884,380.0","28,842,482.0","29,816,769.0","30,809,787.0","31,825,299.0","32,866,268.0",NaN

In [96]:
# extraer nombre de las columnas
df_pop.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1960', '1961', '1962', '1963', '1964', '1965', '1966', '1967', '1968',
       '1969', '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977',
       '1978', '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', 'Unnamed: 65'],
      dtype='object')

## Como filtrar por *columnas*

In [97]:
# filtrar la información por paises
# crear la variable que guardara el filtro
# Elegir la info de los siguientes paises: Aruba y Colombia
filtro = df_pop['Country Name'].isin(['Aruba','Colombia'])
filtro

0       True
1      False
2      False
3      False
4      False
       ...
261    False
262    False
263    False
264    False
265    False
Name: Country Name, Length: 266, dtype: bool

In [98]:
df_pop_fil = df_pop[filtro]
df_pop_fil

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
0,Aruba,ABW,"Population, total",SP.POP.TOTL,"54,208.0","55,434.0","56,234.0","56,699.0","57,029.0","57,357.0",...,"102,565.0","103,165.0","103,776.0","104,339.0","104,865.0","105,361.0","105,846.0","106,310.0","106,766.0",NaN
45,Colombia,COL,"Population, total",SP.POP.TOTL,"16,057,714.0","16,567,817.0","17,092,919.0","17,629,978.0","18,175,187.0","18,725,242.0",...,"46,075,721.0","46,495,492.0","46,967,706.0","47,520,667.0","48,175,048.0","48,909,844.0","49,661,056.0","50,339,443.0","50,882,884.0",NaN

## Como crear *índices*

In [99]:
# Convertir columnas en índices
df_pop_ind = df_pop_fil.set_index(['Country Name','Country Code'])
df_pop_ind

,,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
Country Name,Country Code,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,"Population, total",SP.POP.TOTL,"54,208.0","55,434.0","56,234.0","56,699.0","57,029.0","57,357.0","57,702.0","58,044.0",...,"102,565.0","103,165.0","103,776.0","104,339.0","104,865.0","105,361.0","105,846.0","106,310.0","106,766.0",NaN
Colombia,COL,"Population, total",SP.POP.TOTL,"16,057,714.0","16,567,817.0","17,092,919.0","17,629,978.0","18,175,187.0","18,725,242.0","19,279,734.0","19,837,508.0",...,"46,075,721.0","46,495,492.0","46,967,706.0","47,520,667.0","48,175,048.0","48,909,844.0","49,661,056.0","50,339,443.0","50,882,884.0",NaN

In [100]:
# agregar el comando sort_index, para mejorar la visualizacion de datos
#df_pop.set_index(['Country Name','Country Code']).sort_index()
# este cambio se me mejor es

![result](/content/drive/MyDrive/Recursos/Images/sort_index.png)

## Como filtrar por indices

In [101]:
df_pop_ind

,,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
Country Name,Country Code,,,,,,,,,,,,,,,,,,,,,
Aruba,ABW,"Population, total",SP.POP.TOTL,"54,208.0","55,434.0","56,234.0","56,699.0","57,029.0","57,357.0","57,702.0","58,044.0",...,"102,565.0","103,165.0","103,776.0","104,339.0","104,865.0","105,361.0","105,846.0","106,310.0","106,766.0",NaN
Colombia,COL,"Population, total",SP.POP.TOTL,"16,057,714.0","16,567,817.0","17,092,919.0","17,629,978.0","18,175,187.0","18,725,242.0","19,279,734.0","19,837,508.0",...,"46,075,721.0","46,495,492.0","46,967,706.0","47,520,667.0","48,175,048.0","48,909,844.0","49,661,056.0","50,339,443.0","50,882,884.0",NaN

In [102]:
# Filtrar por el pais Colombia
df_pop_ind.loc['Colombia',:]

,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
Country Code,,,,,,,,,,,,,,,,,,,,,
COL,"Population, total",SP.POP.TOTL,"16,057,714.0","16,567,817.0","17,092,919.0","17,629,978.0","18,175,187.0","18,725,242.0","19,279,734.0","19,837,508.0",...,"46,075,721.0","46,495,492.0","46,967,706.0","47,520,667.0","48,175,048.0","48,909,844.0","49,661,056.0","50,339,443.0","50,882,884.0",NaN

In [103]:
# filtrar por varios indices
df_pop_ind.loc['Colombia'].loc['COL']

Indicator Name    Population, total
Indicator Code          SP.POP.TOTL
1960                   16,057,714.0
1961                   16,567,817.0
1962                   17,092,919.0
                        ...
2017                   48,909,844.0
2018                   49,661,056.0
2019                   50,339,443.0
2020                   50,882,884.0
Unnamed: 65                     NaN
Name: COL, Length: 64, dtype: object

In [104]:
# Otra forma de filtrar
df_pop_ind.xs(['Aruba'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Passing lists as key for xs is deprecated and will be removed in a future version. Pass key as a tuple instead.

,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,1966,1967,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,Unnamed: 65
Country Code,,,,,,,,,,,,,,,,,,,,,
ABW,"Population, total",SP.POP.TOTL,"54,208.0","55,434.0","56,234.0","56,699.0","57,029.0","57,357.0","57,702.0","58,044.0",...,"102,565.0","103,165.0","103,776.0","104,339.0","104,865.0","105,361.0","105,846.0","106,310.0","106,766.0",NaN

## Referencias

[Population](https://data.worldbank.org/indicator/SP.POP.TOTL)

[World Bank](https://data.worldbank.org/)

[Múltiples Indices](https://platzi.com/clases/1794-pandas/27902-multiples-indices/)