# Extraer variables categóricas

## Instlar librerias

In [1]:
# Instalar librerias
!pip install --upgrade pandas

import pandas as pd
import numpy as np
import seaborn as sns
pd.__version__

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

'1.3.5'

## Dar formato a los decimales

In [2]:
pd.options.display.float_format = '{:,.3f}'.format

## Crear DataFrame a partir de la libreria Seaborn

Se crea una base de datos de un restaurante

In [3]:
df = sns.load_dataset('tips')
df

     total_bill   tip     sex smoker   day    time  size
0        16.990 1.010  Female     No   Sun  Dinner     2
1        10.340 1.660    Male     No   Sun  Dinner     3
2        21.010 3.500    Male     No   Sun  Dinner     3
3        23.680 3.310    Male     No   Sun  Dinner     2
4        24.590 3.610  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239      29.030 5.920    Male     No   Sat  Dinner     3
240      27.180 2.000  Female    Yes   Sat  Dinner     2
241      22.670 2.000    Male    Yes   Sat  Dinner     2
242      17.820 1.750    Male     No   Sat  Dinner     2
243      18.780 3.000  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

## Crear la columna ones para . . .

In [5]:
df['ones'] = 1
df

     total_bill   tip     sex smoker   day    time  size  ones
0        16.990 1.010  Female     No   Sun  Dinner     2     1
1        10.340 1.660    Male     No   Sun  Dinner     3     1
2        21.010 3.500    Male     No   Sun  Dinner     3     1
3        23.680 3.310    Male     No   Sun  Dinner     2     1
4        24.590 3.610  Female     No   Sun  Dinner     4     1
..          ...   ...     ...    ...   ...     ...   ...   ...
239      29.030 5.920    Male     No   Sat  Dinner     3     1
240      27.180 2.000  Female    Yes   Sat  Dinner     2     1
241      22.670 2.000    Male    Yes   Sat  Dinner     2     1
242      17.820 1.750    Male     No   Sat  Dinner     2     1
243      18.780 3.000  Female     No  Thur  Dinner     2     1

[244 rows x 8 columns]

## Agrupar por genero y por fumador

Se crea un dataset que indica:
1.  el numero de personas male que SI fuman
2. el numero de personas male que NO fuman
3.  el numero de personas female que SI fuman
4. el numero de personas female que NO fuman

In [9]:
# Agrupar por las categorias sex y smoke y sumar el numero de registros con la columnas 'ones'
df_g = df.groupby(['sex','smoker'])[['ones']].sum()
df_g

               ones
sex    smoker
Male   Yes       60
       No        97
Female Yes       33
       No        54

## Calcular los porcentajes de fumadores

1. convertir los valores numéricos de la columna "ones" a porcentajes
2. Agrupar por el nivel del género. level=0
3. La variable "x" toma los valores numéricos

In [10]:
df_g.groupby(level=0).apply(lambda x: x/x.sum() * 100)

                ones
sex    smoker
Male   Yes    38.217
       No     61.783
Female Yes    37.931
       No     62.069

## Categorizar valores contínuos a categóricos

In [11]:
# crear 3 categorias usando bins
pd.cut(df['total_bill'],bins = 3).value_counts()

(3.022, 18.983]     140
(18.983, 34.897]     88
(34.897, 50.81]      16
Name: total_bill, dtype: int64

In [14]:
# crear categorias por valores indicados por el usuario
pd.cut(df['total_bill'],bins = [3,18,35,60]).value_counts()

(3, 18]     127
(18, 35]    101
(35, 60]     16
Name: total_bill, dtype: int64

## Crear la categoría en el dataframe

In [15]:
df['categoria'] = pd.cut(df['total_bill'], bins = [3,18,35,60])
df

     total_bill   tip     sex smoker   day    time  size  ones categoria
0        16.990 1.010  Female     No   Sun  Dinner     2     1   (3, 18]
1        10.340 1.660    Male     No   Sun  Dinner     3     1   (3, 18]
2        21.010 3.500    Male     No   Sun  Dinner     3     1  (18, 35]
3        23.680 3.310    Male     No   Sun  Dinner     2     1  (18, 35]
4        24.590 3.610  Female     No   Sun  Dinner     4     1  (18, 35]
..          ...   ...     ...    ...   ...     ...   ...   ...       ...
239      29.030 5.920    Male     No   Sat  Dinner     3     1  (18, 35]
240      27.180 2.000  Female    Yes   Sat  Dinner     2     1  (18, 35]
241      22.670 2.000    Male    Yes   Sat  Dinner     2     1  (18, 35]
242      17.820 1.750    Male     No   Sat  Dinner     2     1   (3, 18]
243      18.780 3.000  Female     No  Thur  Dinner     2     1  (18, 35]

[244 rows x 9 columns]

## Hacer agrupaciones por time y categoria recien creada

In [16]:
df.groupby(['time','categoria'])[['ones']].count()

                  ones
time   categoria
Lunch  (3, 18]      45
       (18, 35]     21
       (35, 60]      2
Dinner (3, 18]      82
       (18, 35]     80
       (35, 60]     14

### convertir a porcentajes

In [19]:
df.groupby(['time','categoria'])[['ones']].count().groupby(level=0).apply(lambda x: x/x.sum() * 100)

                   ones
time   categoria
Lunch  (3, 18]   66.176
       (18, 35]  30.882
       (35, 60]   2.941
Dinner (3, 18]   46.591
       (18, 35]  45.455
       (35, 60]   7.955